@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid d-flex justify-content-center align-items-center bg-dark" style="height:100vh">
    <div class="hero-unit border border-3 rounded-3 px-5 pt-5 pb-5 bg-white" align="center">
        <h1 class="pb-3">Welcome to <span style="">OpenChat</span></h1>
        <p>Enter a username to start chatting:</p>
        <form id="usernameForm" class="g-3 needs-validation" action="/ChatRoom" novalidate>
            <input type="text" class="form-control" name="username" id="usernameField" placeholder="Username" required>
            <div class="invalid-feedback">
                Please enter a username.
            </div>
            <button class="btn btn-primary btn-large mt-3" type="submit">Enter Chat Room</button>
        </form>
    </div>
</div>

<script>
    'use strict'

    var form = document.getElementById('usernameForm')
    form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
    }, false)
</script>
